/CC4GeVmb_100_n50k.tsv
/CC4GeVmb_101_n50k.tsv
/CC4GeVmb_102_n50k.tsv
/CC4GeVmb_103_n50k.tsv
/CC4GeVmb_104_n50k.tsv
/CC4GeVmb_105_n50k.tsv
/CC4GeVmb_106_n50k.tsv
/CC4GeVmb_107_n50k.tsv
/vertex.json